/01_April_SQL.pdf
/1chinook.sqbpro
/2_April_SQL.pdf
/6_April_SQL.pdf
/chinook.db
/chinook.db-journal
/Group By tanimi.png
/Group BY_example.png
/Group BY_example2.png
/Group By_syntax.png
/session4.sql
/session5.sql
/SQl Ödevleri .txt
/sql-session1-drawings.pdf
/SQL_ITF011_Session_1-2.pdf
/SQL_ITF11_Session_3 (1).pdf
/SQL_ITF11_Session_4.pdf